---
const links = ["Blog", "About"];
---

<nav>
  <div class="container">
    <figure class="nav__logo">
      <a href="/">
        <img
          src="../../public/favicon.svg"
          alt="Astro Logo"
          width="50"
          height="50"
        />
      </a>
    </figure>
    <ul class="nav__links">
      {
        links.map((link:string) => (
          <li>
            <a href={link.toLowerCase()}>{link}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
